pkgbase = somafm_tui
	pkgdesc = A console-based player for SomaFM internet radio with stream buffering support
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/zsh-ncursed/somafm_tui
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = mpv
	depends = python-requests
	depends = python-mpv
	depends = python-urllib3
	source = git+https://github.com/zsh-ncursed/somafm_tui.git#commit=e81a3349947e630ad598a7b2183037ff372ff5a1
	sha256sums = 08b2a6734c2937110241bbb6a6cda449fb4402152e25de241112730e89cea5c5

pkgname = somafm_tui
